h2 {
    color: #2B90B6;
    font-family: Helvetica Neue;
    text-transform: uppercase;
}

h2.tight {
    margin-top: 0.1rem;
  }

.heading{
    color: #2B90B6;
    text-align: justify;
    text-align-last: center;
    font-size: 2em;
    margin: 2rem auto;
    max-width: 80%;
}

.answer {
    text-align: justify;
    text-align-last: center;
    font-size: 1.7rem;
    line-height: 1.6;
    margin: 2rem auto;
    max-width: 80%;
  }

.answer-small {
    text-align: justify;
    text-align-last: center;
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 2rem auto;
    max-width: 90%;
  }

.description {
    font-size: 1.5rem;
    line-height: 1.6;
}  

.highlighted-question {
    color: #2B90B6;
    font-style: italic;
    font-size: 1.3rem;
  }
.katex-block {
    font-size: 1.2rem;
    text-align: "left" !important;
    line-height: 1.8;
    background: rgba(255, 255, 255, 0.02);
    padding: .1rem .5rem;
    border-left: 4px solid goldenrod;
    border-radius: 0.75rem;
    max-width: 90%;
    margin: 1rem 1rem;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.05);
  }

[v-click] {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

[v-click].slidev-v-click-visible {
  opacity: 1;
}